<!DOCTYPE html>
<html lang="fr">
    <head>
    
    <title>{% block title %}Mon blog sur les crêpes bretonnes{% endblock %}</title>
    </head>
    <body>
        <header>Crêpes bretonnes</header>
        <nav>
            {% block nav %}
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/blog/">studyapp</a></li>
                <li><a href="/contact/">Contact</a></li>

            </ul>
            {% endblock %}
        </nav>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer>© Crêpes bretonnes</footer>
    </body>
</html>